$s-basket-fog = 61px 0px -61px 0px 25px 21px 126px 97px 'sprite.png';
$s-basket-gray = 30px 33px -30px -33px 25px 21px 126px 97px 'sprite.png';
$s-basket = 0px 33px 0px -33px 25px 21px 126px 97px 'sprite.png';
$s-clip = 91px 33px -91px -33px 15px 17px 126px 97px 'sprite.png';
$s-close = 0px 0px 0px 0px 28px 28px 126px 97px 'sprite.png';
$s-control = 111px 66px -111px -66px 7px 6px 126px 97px 'sprite.png';
$s-cross = 111px 0px -111px 0px 15px 14px 126px 97px 'sprite.png';
$s-delete-fog = 25px 59px -25px -59px 20px 21px 126px 97px 'sprite.png';
$s-delete = 0px 59px 0px -59px 20px 21px 126px 97px 'sprite.png';
$s-email = 0px 85px 0px -85px 18px 12px 126px 97px 'sprite.png';
$s-left = 61px 26px -61px -26px 15px 28px 126px 97px 'sprite.png';
$s-less-black = 111px 77px -111px -77px 8px 2px 126px 97px 'sprite.png';
$s-less = 111px 84px -111px -84px 8px 2px 126px 97px 'sprite.png';
$s-location = 111px 19px -111px -19px 10px 16px 126px 97px 'sprite.png';
$s-mobile-menu = 72px 59px -72px -59px 19px 14px 126px 97px 'sprite.png';
$s-more-black = 111px 40px -111px -40px 8px 8px 126px 97px 'sprite.png';
$s-more = 111px 53px -111px -53px 8px 8px 126px 97px 'sprite.png';
$s-phone = 50px 59px -50px -59px 17px 16px 126px 97px 'sprite.png';
$s-right = 91px 0px -91px 0px 15px 28px 126px 97px 'sprite.png';
$s-search = 33px 0px -33px 0px 23px 23px 126px 97px 'sprite.png';
