include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title decor
		include inc/head
	body(class="p-decor")
		include partials/header
		
		.b-container
			+b('').slider.owl-carousel
				+e('').slide
					+e('img')(src="img/tree.jpg" alt="").img
					+e('').layout
						+e('').layout-wrap
							+b('span').title.small Новинка в Минске!<br>Система декоративных<br>креплений SD DMX!
							p Изготовлены из толстой оцинкованной стали с порошковым покрытием.<br>Это новые проекты конструкционных соединительных элементов!
							+b('a')(href="#").btn Узнать подробности
				+e('').slide
					+e('img')(src="img/tree.jpg" alt="").img
					+e('').layout
						+e('').layout-wrap
							+b('span').title.small Новинка в Минске!<br>Система декоративных<br>креплений SD DMX!
							p Изготовлены из толстой оцинкованной стали с порошковым покрытием.<br>Это новые проекты конструкционных соединительных элементов!
							+b('a')(href="#").btn Узнать подробности
				+e('').slide
					+e('img')(src="img/tree.jpg" alt="").img
					+e('').layout
						+e('').layout-wrap
							+b('span').title.small Новинка в Минске!<br>Система декоративных<br>креплений SD DMX!
							p Изготовлены из толстой оцинкованной стали с порошковым покрытием.<br>Это новые проекты конструкционных соединительных элементов!
							+b('a')(href="#").btn Узнать подробности
			+b('section').decor
				+e('table').table
					+e('tr').tr
						+e('td')(rowspan="2").top-left
							+e('a')(href="#").wrap
								+e('span').title Кронштейны
						+e('td')(colspan="3").top-right
							+e('a')(href="#").wrap
								+e('span').title Полки безконсольные
					+e('tr').tr
						+e('td')(colspan="2").center
							+e('a')(href="#").wrap
								+e('span').title Кронштейны
						+e('td')(rowspan="2").center-right
							+e('a')(href="#").wrap
								+e('span').title Кронштейны
					+e('tr').tr
						+e('td')(colspan="3").bottom
							+e('a')(href="#").wrap
								+e('span').title Кронштейны
				+e('').row-wrap
					+e('a')(href="#").row
						+e('img')(src="http://placehold.it/750x250").img
						+e('').layout
							+e('span').title-a Вешалки
					+e('a')(href="#").row
						+e('img')(src="http://placehold.it/750x250").img
						+e('').layout
							+e('span').title-a Вешалки
					+e('a')(href="#").row
						+e('img')(src="http://placehold.it/750x250").img
						+e('').layout
							+e('span').title-a Вешалки
					+e('a')(href="#").row
						+e('img')(src="http://placehold.it/750x250").img
						+e('').layout
							+e('span').title-a Вешалки
					+e('a')(href="#").row
						+e('img')(src="http://placehold.it/750x250").img
						+e('').layout
							+e('span').title-a Вешалки
				.b-container
					+e('').text.tab
						p Если вам предстоит заниматься фиксацией конструкций разной степени сложности, то без надёжных метизов сложно будет обойтись. К их выбору и покупке следует подходить осознанно, так как от качества изделий зависит долговечность готовой конструкции. Советуем вам погружаться в мир крепёжных изделий вместе с компанией «ВиСМа-строй».
						p Изделия для крепежа представляют собой металлические детали, которые необходимы для различного рода соединений: разъёмных либо неразъёмных. Первые выполняются, как правило, с использованием винтов, болтов, гаек либо шпилек, а вторые - с применением пайки, сварки либо склеивания.На страницах нашего сайта вы сможете ознакомиться с различными крепежами, здесь представлены как универсальные модели, так и специализированные метизы. Это и дюбель гвозди, и саморезы, и шурупы, и гайки, и болты, и т.д. В зависимости от целей и перечня работ, который предстоит выполнить, нужно выбирать различные крепёжные изделия. Для установки плинтуса и крепления деревянных конструкций можно применять гвозди. Заклёпка больше подойдёт для металлических листов либо гипсокартона. Она используется в тандеме со специальным аппаратом для установки.
						p При установке оконных пакетов стоит выбирать дюбели.С помощью штифта, который представляет собой крепежный безрезьбовой элемент, можно соединять детали конструкций в неподвижном состоянии. Когда важно сохранить эстетическую красоту наружной стороны здания, то идеальным решением станут шурупы. Их цветовая палитра достигает 18 цветов, что говорит о привлекательности данного крепежа. Многие модели шурупов используются при фасадных и кровельных работах, а также скреплении металлических листов.
					+b('').button.tabs Полное описание


		include inc/vendor-scripts
		script(src="js/client.min.js")
