+b('header').header
	.b-container
		+e('').top
			+e('').left
				+e('span').item +375 (29) 185-08-85
				+e('span').item +375 (29) 340-04-32
				+e('span').item._hide Пн - Сб: с 12:00 до 19:00
			+e('').right
				+b('nav').menu
					+e('a')(href="#").item О компании
					+e('a')(href="#").item.active Оплата и доставка
					+e('a')(href="#").item Для клиента
					+e('a')(href="#").item Дилерам
					+e('a')(href="#").item Контакты
		+e('').bottom
			+e('').left-bottom
				+e('a')(href="#").logo
					+e('img')(src="img/logo.png").img
					+e('img')(src="img/logo-mobile.png").img.mobile
				+b('nav').menu-product
					+e('').item
						+e('a')(href="#").row Крепежи
						+e('').wrap
							+e('').item-wrap
								+e('a')(href="#").item-a Элементы
								+e('a')(href="#").item-a Розетки и выключатели
								+e('a')(href="#").item-a Кронштейны для полок
					+e('').item
						+e('a')(href="#").row Элементы декора
						+e('').wrap
							+e('').item-wrap
								+e('a')(href="#").item-a Элементы
								+e('a')(href="#").item-a Розетки и выключатели
								+e('a')(href="#").item-a Кронштейны для полок
					+e('').item
						+e('a')(href="#").row Розетки и выключатели
						+e('').wrap
							+e('').item-wrap
								+e('a')(href="#").item-a Элементы
								+e('a')(href="#").item-a Розетки и выключатели
								+e('a')(href="#").item-a Кронштейны для полок
					+e('').item
						+e('a')(href="#").row Скидки
						+e('').wrap
							+e('').item-wrap
								+e('a')(href="#").item-a Элементы
								+e('a')(href="#").item-a Розетки и выключатели
								+e('a')(href="#").item-a Кронштейны для полок
			+e('').right-bottom
				+e('a')(href="#").search
				+b('a')(href="#").basket <!--.active.total-->
					+e('').img
					+e('span').value
				+e('').menu-mobile
			+b('').menu-mobile
				+b('nav').menu-product.mobile
					+e('').item
						+e('a')(href="#").row Крепежи
					+e('').item
						+e('a')(href="#").row Крепежи
					+e('').item
						+e('a')(href="#").row Крепежи
				+b('nav').menu
					+e('a')(href="#").item О компании
					+e('a')(href="#").item Оплата и доставка
					+e('a')(href="#").item Для клиента
					+e('a')(href="#").item Дилерам
					+e('a')(href="#").item Контакты
