.b-common-wrap
	margin-bottom 44px
	@media $max_sm
		margin-bottom 0

.b-container
	max-width 1400px
	width 100%
	margin 0 auto
	position relative
	height 100%
	padding 0 50px
	@media $max_mm
		padding 0
	@media $max_sm
		padding 0

.b-button
	border-bottom 1px dotted #333
	display inline-block
	padding-bottom 3px
	display none
	font-size 13px
	cursor pointer
	@media $max_sm
		display inline-block
	&.active
		display none

.b-header
	position relative
	&__img
		max-width 100%
		height auto
		display inline-block
		vertical-align middle
		@media $max_sm
			display none
		&.mobile
			display none
			@media $max_sm
				display inline-block
	&__logo
		margin-right 34px
		@media $max_sm
			margin-right 0
	&__top
		height 60px
		display table
		width 100%
		padding 25px 50px 0
		@media $max_sm
			display none
	&__left, &__right
		display table-cell
		vertical-align top
	&__left-bottom, &__right-bottom
		display table-cell
		vertical-align middle
	&__right, &__right-bottom
		text-align right
	&__item
		font-size 13px
		color #777
		font-family 'Open Sans'
		padding-right 24px
		&:last-child
			@media $max_md
				display none
				padding-right 0
	&__bottom
		padding 29px 50px
		display table
		width 100%
		background-color #fff
		margin-bottom 3px
		@media $max_sm
			margin-bottom 0
			padding 15px 20px
			border-bottom 1px solid #e5e5e5
	&__menu, &__logo
		display inline-block
		vertical-align middle
	&__menu
		@media $max_sm
			display none
	&__search
		display inline-block
		vertical-align middle
		sprite($s-search)
		margin-right 13px
		@media $max_sm
			display none
	&__menu-mobile
		display none
		vertical-align middle
		margin-left 15px
		width 39px
		height 39px
		position relative
		background-color $yellow
		cursor pointer
		&:after
			content ''
			position absolute
			align()
			sprite($s-mobile-menu)
		@media $max_sm
			display inline-block
		&.active
			&:after
				content ''
				sprite($s-cross)

.p-decor .b-header
	&__bottom
		margin-bottom 0

.p-main .b-header
	&__bottom
		margin-bottom 0

.p-fasteners .b-header
	&__bottom
		margin-bottom 0

.p-electric .b-header
	&__bottom
		margin-bottom 0

.b-basket
	text-decoration none
	display inline-block
	vertical-align middle
	padding 15px 12px 15px 15px
	border 2px solid #efefef
	@media $max_sm
		border 2px solid transparent
		padding 7px 0 7px 6px
		.b-basket
			&__img
				&:after
					content ''
					sprite($s-basket)
	&.total
		border 2px solid $yellow
	&.active
		border 2px solid $yellow
	&:hover, &.active
		background-color $yellow
		.b-basket
			&__img
				&:after
					content ''
					sprite($s-basket)
	&__img
		width 25px
		height 21px
		display inline-block
		vertical-align middle
		position relative
		&:after
			content ''
			position absolute
			sprite($s-basket-fog)
			left 0
			top 0
	&__value
		padding-left 7px
		font-weight 300
		display inline-block
		vertical-align middle
		font-size 14px

.b-menu-mobile
	display none
	top 69px
	z-index 10
	background-color $yellow
	left 0
	width 100%
	display none
	position absolute
	&.active
		display block

.b-menu-product
	display inline-block
	vertical-align middle
	@media $max_sm
		padding 20px 0
	&.mobile
		@media $max_sm
			display block
			border-bottom 1px solid #fff
	@media $max_sm
		display none
	&__item
		display inline-block
		margin-right 33px
		position relative
		border-bottom 1px solid $yellow
		padding 2px
		@media $max_md
			margin-right 28px
		@media $max_sm
			text-align center
			margin-right 0
			border-bottom 0
			color #000
			line-height 50px
			display block
		&:last-child
			margin-right 0
		&:hover
			border-bottom 0
			.b-menu-product
				&__wrap
					display block
	&__row
		text-decoration none
		font-size 15px
		color #000
		text-transform uppercase
		@media $max_sm
			display block
	&__wrap
		position absolute
		z-index 100
		display none
		padding-top 20px
		left -20px
	&__item-wrap
		padding 15px 21px
		border 2px solid $yellow
		background-color #fff
		box-shadow 0 0 7px 2px #fff7d3
	&__item-a
		white-space nowrap
		line-height 40px
		padding-bottom 2px
		position relative
		display inline-block
		text-decoration none
		font-size 15px
		text-transform uppercase
		color #000
		&:after
			content ''
			position absolute
			width 100%
			height 1px
			background-color $yellow
			display block
			left 0
			bottom 11px
		&:hover
			&:after
				content ''
				display none

.link
	color #000
	border-bottom 1px solid #ccc
	text-decoration none

.b-menu
	@media $max_sm
		padding 20px 0
	&__item
		text-decoration none
		margin-left 31px
		font-size 13px
		font-family 'Open Sans'
		color #777
		&:first-child
			margin-left 0
		&:hover, &.active
			color #333
		@media $max_sm
			display block
			text-align center
			line-height 40px
			margin 0
			color #000

.b-section
	&__wrap
		background-color #fff
		padding 70px 50px
		margin-bottom 44px
		@media $max_sm
			padding 30px 20px
			margin-bottom 0
	&__text
		max-width 810px
		margin 0 auto

.b-fasteners
	&__wrap
		padding 51px 50px
		background-color #fff
		margin-bottom 44px
		@media $max_sm
			margin-bottom 0
			padding 30px 0
	&__text-wrap
		display table
		width 100%
		@media $max_sm
			padding 0 20px
	&__text, &__img
		display table-cell
		vertical-align top
	&__text
		@media $max_sm
			display block
			height 200px
			overflow hidden
			margin-bottom 27px
		&.active
			@media $max_sm
				height auto
		p
			margin-bottom 15px
			&:last-child
				margin-bottom 0
	&__img
		margin-left 50px
		@media $max_mm
			display none

// .b-select
// 	display none
// 	margin 0 auto
// 	height 43px
// 	text-align center
// 	width 280px
// 	margin-bottom 20px
// 	border 0
// 	padding 0 17px
// 	color #000
// 	font-size 13px
// 	text-transform uppercase
// 	background-color $yellow
// 	@media $max_sm
// 		display block

.im-sbox
	margin-bottom 20px
	display none
	position relative
	@media $max_sm
		display block
	.im-sbox-active
		cursor pointer
		background-color $yellow
		display block
		appearance none
		font-size 13px, false
		color #000
		text-transform uppercase
		line-height 41px
		padding 0 30px 0 17px
		position relative
		&:before, &:after
			background-image url(../img/sprite.png)
		&:after
			content ''
			position absolute
			sprite($s-control)
			vAlign()
			right 17px
	.im-sbox-select
		display none
		position absolute
		z-index 100
		width 100%
		appearance none
	.im-sbox-option
		display block
		cursor pointer
		padding-left 17px
		border-bottom 1px solid #fff
		background-color $yellow
		display block
		appearance none
		font-size 13px, false
		color #000
		text-transform uppercase
		line-height 41px
		position relative
		&:first-child
			border-top 1px solid #fff

.im-sbox.im-sbox-opened .im-sbox-select
	display block

.b-selection
	&__select
		max-width 280px
		margin 0 auto
	&__title-wrap
		padding-bottom 44px
		text-align center
		@media $max_sm
			padding-bottom 30px
	&__menu-select
		font-size 0
		padding-bottom 47px
		margin 0 -1px
		@media $max_md
			display none
	&__item
		display inline-block
		vertical-align top
		width 20%
		font-size $rootFontSize
		padding 0 1px
		position relative
	&__img
		width 100%
		height auto
	&__text
		position absolute
		text-align center
		padding 0 10px
		width 100%
		font-size 13px
		color #fff
		top 46%
		text-transform uppercase
		font-weight 600
		line-height 21px

.b-slider
	&__slide
		position relative
	&__layout
		position absolute
		width 100%
		height 100%
		left 0
		top 0
		v-out()
	&__layout-wrap
		v-in()
		padding 0 50px
	&__img
		width 100%
		height auto
	p
		margin-bottom 25px
		@media $max_md
			margin-bottom 20px

.owl-carousel.owl-loaded
	@media $max_sm
		display none

.owl-carousel
	position relative
	.owl-dots
		position absolute
		bottom 20px
		width 100%
		display block
		left 50px
		.owl-dot
			width 6px
			display inline-block
			margin-right 6px
			height 6px
			background-color #fff
		.owl-dot.active
				background-color #fdd20d

.b-title
	font-size 40px
	font-weight 300
	display block
	line-height 45px
	padding-bottom 42px
	@media $max_sm
		padding-bottom 28px
	&.hide
		@media $max_sm
			display none
	&.center
		text-align center
	&.small
		text-transform uppercase
		font-size 30px
		font-weight 400
		padding-bottom 18px
	@media $max_sm
		font-size 20px
		line-height 30px
	&.no-upper
		font-size 28px

.b-title-middle
	font-size 25px
	font-weight 300
	display block
	margin-bottom 35px
	@media $max_sm
		font-size 16px
		margin-bottom 28px
		font-weight 400
	&.hide
		@media $max_sm
			display none

.b-btn
	display inline-block
	background-color $yellow
	padding 15px 40px
	border-radius 2px
	font-size 16px
	color #333
	text-decoration none
	font-weight 500
	text-transform uppercase
	&.send
		border 0
	&:hover
		background-color #ffde33

.b-all-product
	&.hide
		@media $max_sm
			display none
	&__menu-product
		text-align center
		padding-bottom 45px
		@media $max_sm
			display none
		&.left
			display inline-block
			vertical-align middle
			text-align left
			padding-bottom 0
	&__title
		font-size 13px
		font-family 'Open Sans'
		border-bottom 1px dotted #333
		cursor pointer
	&__select-wrap
		display none
		position absolute
		padding 13px 70px 13px 30px
		border 2px solid $yellow
		background-color #fff
		box-shadow 0 0 7px 2px #fff7d3
		text-align left
		z-index 100
		top 39px
		right 0
		&.active
			display block
	&__select-item
		padding 10px 0
		margin 8px 0
		display table
		text-decoration none
	&__img, &__value
		display table-cell
		vertical-align middle
		text-align left
	&__value
		padding-left 10px
		font-family 'Open Sans'
		font-size 13px
		color #666
	&__wrap
		display table
		width 100%
		padding-bottom 45px
		@media $max_sm
			display none
	&__right
		position relative
		display table-cell
		vertical-align middle
		text-align right
	&__item
		margin 0 20px
		text-decoration none
		color #666
		text-transform uppercase
		font-size 13px
		border-bottom 1px solid $yellow
		&:hover, &.active
			color #333
			border-bottom 0
	&__cols-wrap
		font-size 0
		border-top 1px solid #e5e5e5
		position relative
		@media $max_sm
			border-bottom 0
		&:after
			content ''
			position absolute
			right 0
			width 1px
			height 100%
			background-color #fff
			z-index 10
			top 0
	&__col
		display inline-block
		vertical-align top
		width 20%
		position relative
		font-size $rootFontSize
		border-right 1px solid #e5e5e5
		border-bottom 1px solid #e5e5e5
		@media $max_md
			width (100/3)%
		@media $max_sm
			width 100%

.b-product
	text-align center
	text-decoration none
	display block
	position relative
	z-index 1
	min-height 295px
	@media $max_sm
		min-height 100%
	&.calc
		&:hover
			box-shadow 0 0 7px 2px #fff7d3
			background-color #fff
			border 2px solid $yellow
	&__img
		margin 3px auto 0
		max-width 100%
		padding 20px 20px 0
		height auto
		@media $max_sm
			display inline-block
	&__wrap, &__image, &__content-wrap
		@media $max_sm
			display table-cell
			vertical-align middle
	&__image
		@media $max_sm
			width 37%
			padding-bottom 20px
	&__wrap, &__content-wrap
		@media $max_sm
			text-align left
	&__view
		display block
		padding-bottom 20px
	&__col
		display inline-block
		vertical-align top
		width 25%
		text-align center
		padding-bottom 6px
	&__view
		font-size 11px
		text-transform uppercase
		color #666
		span
			display none
			font-size 11px
			color #333
			line-height 12px
			@media $max_sm
				display inline-block
	&__title
		font-size 11px
		height 30px
		display block
		color #333
		line-height 12px
		text-transform uppercase
		@media $max_sm
			display none
		&.open
			@media $max_sm
				display block
	&__price
		color #777
		font-size 14px
		display block
		padding-bottom 20px
		@media $max_sm
			padding-bottom 0

.b-product-hover
	text-align center
	text-decoration none
	display block
	opacity 0
	width 100%
	position absolute
	z-index 5
	top 0
	left 0
	min-height 295px
	box-shadow 0 0 7px 2px #fff7d3
	border 2px solid $yellow
	transition opacity 1s
	@media $max_sm
		min-height 100%
	&:hover
		opacity 1
		z-index 10
	&__img
		margin 3px auto 0
		max-width 100%
		padding 19px 20px 0
		height auto
		@media $max_sm
			display inline-block
	&__wrap, &__image, &__content-wrap
		@media $max_sm
			display table-cell
			vertical-align middle
	&__image
		@media $max_sm
			width 37%
			padding-bottom 20px
	&__wrap, &__content-wrap
		@media $max_sm
			text-align left
	&__view
		display block
		padding-bottom 20px
	&__color
		font-size 0
		text-align left
		padding 0 26px 23px
	&__col
		display inline-block
		vertical-align top
		width 25%
		text-align center
		padding-bottom 6px
	&__view
		font-size 11px
		text-transform uppercase
		color #666
		span
			font-size 11px
			color #333
			line-height 12px
			@media $max_sm
				display inline-block
	&__title
		font-size 11px
		height 30px
		display block
		color #333
		line-height 12px
		text-transform uppercase
		@media $max_sm
			display none
		&.open
			@media $max_sm
				display block
	&__price
		color #777
		font-size 14px
		display block
		padding-bottom 20px
		@media $max_sm
			padding-bottom 0
	&__content-wrap
		padding 29px 0 30px
		display block
		background-color #fff
	&__buy-wrap
		padding 0 25px
		width 100%
		display table
	&__left, &__right
		display table-cell
		vertical-align middle
	&__right
		width 52px
		height 38px
		position relative
		display block
		border 1px solid $yellow
		border-radius 2px
		&:after
			content ''
			position absolute
			align()
			sprite($s-basket-gray)
			background-image url(../img/sprite.png)
		&:hover
			background-color $yellow
			&:after
				content ''
				sprite($s-basket)

.b-radio
	&__native
		display none
		&:checked + .b-radio__custom
			border 2px solid $yellow
	&__custom
		border 2px solid transparent
		padding 1px
		max-width 100%
		height auto
		cursor pointer
		margin 0 auto

.b-number
	font-size 0
	&.active
		margin 0 auto
	&__less, &__more, &__input
		&.active
			border 1px solid #e5e5e5
			placeholder(#d0d0d0)
			&:hover
				background-color #fff
	&__less
		&.active
			&:hover
				&:after
					content ''
					sprite($s-less)
	&__more
		&.active
			&:hover
				&:after
					content ''
					sprite($s-more)
	&__input
		display inline-block
		vertical-align middle
		width 47px
		height 38px
		border 1px solid $yellow
		font-size 14px
		text-align center
		placeholder(#333)
	&__less, &__more
		display inline-block
		vertical-align middle
		background-color #fff
		width 30px
		height 38px
		line-height 38px
		&:hover
			background-color $yellow
	&__less
		border 1px solid $yellow
		border-right none
		border-radius 2px 0 0 2px
		position relative
		cursor pointer
		&:after
			content ''
			position absolute
			sprite($s-less)
			align()
		&:hover
			&:after
				content ''
				sprite($s-less-black)
	&__more
		cursor pointer
		border 1px solid $yellow
		border-left none
		border-radius 0 2px 2px 0
		position relative
		&:after
			content ''
			position absolute
			sprite($s-more)
			align()
		&:hover
			&:after
				content ''
				sprite($s-more-black)

.b-delete
	sprite($s-delete-fog)
	display block
	cursor pointer
	@media $max_sm
		sprite($s-delete)
	&:hover
		content ''
		sprite($s-delete)

.b-pagination
	padding 0 0 60px
	@media $max_sm
		padding 0 0 30px
	&__wrap
		display table
		padding 20px 0
		width 100%
		border-bottom 1px solid #e5e5e5
	&__left, &__middle, &__right
		display table-cell
		vertical-align middle
	&__left
		width 53px
		padding-left 13px
	&__middle
		text-align center
		@media $max_sm
			display none
	&__mobile
		text-align center
		display none
		@media $max_sm
			display block
	&__right
		width 53px
		padding-right 13px
	&__item
		font-size 14px
		color #777
		text-decoration none
		display inline-block
		height 30px
		line-height 30px
		width 30px
		&:hover, &.active
			color #000
			background-color $yellow
		&_prev, &_next
			padding 0 12px
			width auto

.b-decor
	background-color #fff
	margin-bottom 44px
	@media $max_sm
		margin-bottom 0
	&__table
		margin 0 0 38px
		@media $max_sm
			display none
	td, th
		border 4px solid #fff
	td
		padding 0
		position relative
	th
		padding 0
	tr
		padding 0
		height 325px
	&__wrap
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		background-image url(../img/fog.png)
		background-position center bottom
		background-repeat repeat-x
	&__title
		font-size 20px
		position absolute
		bottom 33px
		left 50px
		color #fff
		text-transform uppercase
		font-weight 600
	&__top-left
		width 25%
		background-image url(../img/top-left.jpg)
		background-position center top
		background-repeat no-repeat
	&__top-right
		background-image url(../img/top-right.jpg)
		background-position center top
		background-repeat no-repeat
	&__center
		width 50%
		background-image url(../img/center.jpg)
		background-position center top
		background-repeat no-repeat
	&__center-right
		width 25%
		background-image url(../img/top-left.jpg)
		background-position center top
		background-repeat no-repeat
	&__bottom
		background-image url(../img/top-right.jpg)
		background-position center top
		background-repeat no-repeat
	&__text
		width 810px
		p
			margin-bottom 15px
			&:last-child
				margin-bottom 0
		@media $max_sm
			height 200px
			overflow hidden
			margin-bottom 27px
		@media $max_md
			width auto
		&.active
			@media $max_sm
				height auto
	&__row-wrap
		display none
		padding-bottom 30px
		@media $max_sm
			display block
	&__row
		position relative
		display block
		text-decoration none
		border-bottom 3px solid #fff
	&__img
		width 100%
		height auto
	&__layout
		position absolute
		width 100%
		background-color alpha(#000, .5)
		height 100%
		left 0
		top 0
		v-out()
	&__title-a
		font-size 20px
		font-weight 600
		color #fff
		text-transform uppercase
		text-align center
		v-in()

.b-decor .b-container
	padding 0 50px 47px
	@media $max_sm
		padding 0 20px 36px

.b-main
	&__wrap
		display table
		height 635px
		border 3px solid #fff
		width 100%
		margin-bottom 44px
		border-collapse collapse
		@media $max_sm
			display none
			margin-bottom 0
	&__col
		display table-cell
		vertical-align top
		width (100/3)%
		height 635px
		&.show
			&:hover
				.b-main
					&__content-wrap
						opacity 1
						z-index 10
						transition all .3s
	&__col
		position relative
		border-right 3px solid #fff
		background-image url(../img/bg-main.jpg)
		background-repeat no-repeat
		background-position center 0
		background-size 100% 100%
	&__item
		border-bottom 3px solid #fff
		display block
		height 126px
		width 100%
		background-position center 0
		background-repeat no-repeat
		position relative
		&:last-child
			border-bottom 0
		&.top
			background-image url(../img/item-bg.jpg)
			
		&.middle-top
			background-image url(../img/item-bg.jpg)
			
		&.middle
			background-image url(../img/item-bg.jpg)
			
		&.middle-bottom
			background-image url(../img/item-bg.jpg)
			
		&.bottom
			background-image url(../img/item-bg.jpg)
			
	&__wrap-a
		position absolute
		width 100%
		height 100%
		left 0
		top 0
		background-image url(../img/fog-main.png)
		background-position center bottom
		background-repeat repeat-x
	&__item-wrap
		position absolute
		width 100%
		height 100%
		left 0
		top 0
		background-color alpha(#000, .5)
	&__title
		text-align center
		font-weight 600
		text-decoration none
		font-size 16px
		color #fff
		text-transform uppercase
		bottom 50%
		margin-bottom -10px
		&_bottom
			display inherit
			padding-top 548px
			font-size 20px
		&.center
			position absolute
			left 0
			right 0
			text-align center
	&__row-wrap
		display none
		@media $max_sm
			display block
	&__row
		border-bottom 3px solid #fff
		display block
		position relative
		&:last-child
			border-bottom 0
	&__title-a
		position absolute
		text-align center
		width 100%
		top 50%
		font-size 20px
		font-weight 600
		color #fff
		text-transform uppercase
		margin-top -11px
	&__img
		width 100%
		height auto
	&__content-wrap
		position absolute
		z-index -1
		width 100%
		opacity 0
		transition all .3s

#map
	height 400px
	background-color gray

.b-contact
	&__wrap
		padding 70px 50px 50px
		background-color #fff
		margin-bottom 44px
		@media $max_sm
			padding 30px 20px
			margin-bottom 0
	&__contact-wrap
		max-width 780px
		margin 0 auto
		padding-bottom 48px
		font-size 0
		@media $max_sm
			padding-bottom 35px
	&__left, &__right
		display inline-block
		vertical-align top
		width 50%
		font-size $rootFontSize
		@media $max_sm
			width 100%
	&__left
		@media $max_sm
			padding-bottom 27px
			margin-bottom 27px
			border-bottom 1px solid #e5e5e5
	&__item-a
		font-size 16px
		color #777
		display block
		line-height 25px
		padding-bottom 16px
		&:last-child
			padding-bottom 0
	&__row
		margin 0 0 37px 32px
		display block
		&:last-child
			margin-bottom 0
		&.phone
			position relative
			&:after
				content ''
				position absolute
				sprite($s-phone)
				left -30px
				top 0
		&.email
			text-decoration none
			color #333
			position relative
			&:hover
				opacity .9
			&:after
				content ''
				position absolute
				sprite($s-email)
				left -30px
				top 3px
		&.address
			position relative
			&:after
				content ''
				position absolute
				sprite($s-location)
				left -26px
				top 0
	&__row, &__item
		font-size 16px
	&__item
		display block
		padding-bottom 20px
		&:last-child
			padding-bottom 0

.b-cart
	&__wrap
		padding 70px 50px
		background-color #fff
		margin-bottom 44px
		@media $max_sm
			padding 30px 20px
			margin-bottom 0
	&__cart-wrap
		max-width 800px
		margin 0 auto
	&__table
		margin 0 0 30px
		@media $max_sm
			display none
	&__image
		width 120px
	&__img
		margin 0 auto
	&__name-product
		width 275px
	&__number
		width 70px
		font-size 14px
		color #666
		font-weight 300
		padding 0
	&__quantity
		text-align center
	&__price
		font-size 16px
		white-space nowrap
		width 130px
	&__tr
		border-bottom 1px solid #e5e5e5
	td, th
		border 0
	td
		height 110px
	th
		font-size 11px
		color #ababab
		font-family 'Open Sans'
		height 54px
		background-color #f7f7f7
	&__cart-mobile
		display none
		@media $max_sm
			display block
	&__row
		padding-bottom 30px
		border-bottom 1px solid #e5e5e5
		margin-bottom 30px
	&__top, &__bottom
		display table
		width 100%
	&__top
		padding-bottom 17px
	&__left
		padding-right 10px
		text-decoration none
		color #333
		font-size 16px
	&__right
		text-align right
	&__left, &__right
		font-size 18px
		display table-cell
		vertical-align middle
	&__total, &__btn-wrap
		display inline-block
		vertical-align middle
		@media $max_sm
			display block
	&__btn-wrap
		padding-left 30px
		@media $max_sm
			padding-left 0
	&__total
		@media $max_sm
			padding-bottom 30px
	&__order-wrap
		text-align right
		@media $max_sm
			text-align center
	&__link
		text-decoration none
		color #333
		font-size 16px

.b-order
	&__wrap
		padding 70px 50px
		background-color #fff
		margin-bottom 44px
		@media $max_sm
			padding 30px 20px
			margin-bottom 0
	&__cols-wrap
		font-size 0
		margin 0 -20px
		padding-bottom 10px
		@media $max_sm
			padding-bottom 0
		&.hide
			@media $max_sm
				display none
	&__col
		display inline-block
		vertical-align top
		width 50%
		font-size $rootFontSize
		padding 0 20px
		@media $max_sm
			width 100%
		&.hide
			@media $max_sm
				display none
	&__name
		display block
		font-size 11px
		color #777
		font-family 'Open Sans'
		text-transform uppercase
		padding-bottom 15px
		span
			color #262626
			padding-left 4px
	&__order-wrap
		max-width 800px
		margin 0 auto
	&__item-wrap
		font-size 0
		margin 0 -13px
	&__item
		display inline-block
		vertical-align top
		width (100/3)%
		font-size $rootFontSize
		padding 0 13px
	&__send-wrap
		display table
		width 100%
	&__left
		float left
		padding-top 13px
		@media $max_sm
			padding-top 30px
	&__back
		font-size 14px
		color #777
		text-decoration none
		border-bottom 1px solid #e5e5e5
		padding 2px 0
	&__right
		float right
	&__left, &__right
		@media $max_sm
			float none
			text-align center
	&__text
		@media $max_sm
			display none
		p
			margin-bottom 28px
	&__tab
		display none
		&.active
			display block
	&__textarea
		padding-bottom 50px
		margin-bottom 30px
		border-bottom 1px solid #e5e5e5
		@media $max_sm
			border-bottom 0
			margin-bottom 0
			padding-bottom 30px

.b-tabs
	padding-bottom 45px
	position relative
	@media $max_sm
		padding-bottom 30px
	&:after
		content ''
		position absolute
		height 1px
		width 100%
		background-color #e5e5e5
		display block
		top 26px
	@media $max_sm
		&:after
			content ''
			display none
	&__wrap
		position relative
		z-index 1
		max-width 320px
		font-size 0
		line-height 50px
		border 1px solid #e5e5e5
	&__item
		cursor pointer
		display inline-block
		vertical-align middle
		width 50%
		background-color #fff
		text-align center
		font-size 16px
		&:hover, &.active
			background-color $yellow
			.b-tabs
				&__text
					border-bottom 0
	&__text
		border-bottom 1px dotted #333

.b-input
	display block
	margin-bottom 38px
	line-height 50px
	width 100%
	height 50px
	line-height 50px
	padding 0 20px
	font-size 16px
	border 1px solid #a9a9a9
	color #333
	placeholder(#ababab)
	@media $max_sm
		margin-bottom 20px

.b-textarea
	display block
	padding 20px
	line-height 25px
	border 1px solid #a9a9a9
	width 100%
	font-size 16px
	color #333
	placeholder(#ababab)

input::-webkit-file-upload-button
	display none

.b-selecting
	padding-bottom 45px
	@media $max_sm
		display none
	&__native
		opacity 0
		height 20px
		width 260px
		z-index 100
		cursor pointer
		position absolute
	&__filename
		padding-left 10px
		font-size 14px
		color #696e79
	&__btn
		margin-left 50px
		font-size 14px
		color #777
		font-family 'Open Sans'
		border-bottom 1px dotted #777
		position relative
		&:after
			content ''
			position absolute
			sprite($s-clip)
			vAlign()
			left -30px

.b-slider-mobile
	display none
	margin 0 -5px
	&__img
		max-width 100%
	&__slide
		padding 0 5px
.owl-carousel.owl-loaded
	display none
	@media $max_sm
		display block !important

.b-item
	&__text
		padding-bottom 75px
		&.hide
			@media $max_sm
				display none
	&__wrap
		padding 30px 50px 70px
		background-color #fff
		margin-bottom 44px
		@media $max_sm
			margin-bottom 0
			padding 20px 30px
	&__image-wrap
		padding-bottom 40px
		font-size 0
		&.mobile
			@media $max_sm
				display none
	&__img
		max-width 100%
		display inline-block
		vertical-align top
		margin-right 10px
	table
		margin-bottom 40px
		@media $max_sm
			display none
	td
		height 80px
		&.hide
			@media $max_md
				display none
	th
		font-size 11px
		color #ababab
		padding 0 5px
		font-family 'Open Sans'
		height 54px
		background-color #f7f7f7
		&.hide
			@media $max_md
				display none
	td, th
		text-align center
		border 0
		border-bottom 1px solid #f7f7f7
		white-space nowrap
		&.show
			display none
			position relative
			@media $max_md
				display table-cell
			&:hover
				.b-description
					display block
		&.gray
			background-color #f7f7f7
			border-bottom 1px solid #fff
		&.black
			font-size 16px
			font-weight 400
			color #333
	tr
		&:hover
			.b-basket-item
				border 1px solid #fdd20d
				&:after
					content ''
					sprite($s-basket-gray)
			.b-number
				&__less, &__more, &__input
					&.active
						border 1px solid $yellow
						placeholder(#333)
				&__less, &__more
					&.active
						&:hover
							background-color $yellow
				&__less
					&.active
						&:hover
							&:after
								content ''
								sprite($s-less-black)
				&__more
					&.active
						&:hover
							&:after
								content ''
								sprite($s-more-black)
	td
		font-size 14px
		color #666666
		font-weight 300
		padding 0 5px
	&__item, &__cross
		display block
	&__item
		font-size 16px
		color #333
		font-weight 400
	&__cross
		font-size 11px
		color #666
		text-decoration line-through
	&__mobile
		background-color #fff
		padding-bottom 90px
		display none
		@media $max_sm
			display block
	&__product
		padding 30px 30px 16px
	&__order
		padding 20px 30px
		background-color #f7f7f7
	&__product, &__order
		display table
		width 100%
	&__title
		font-size 17px
		color #333
	&__about
		color #666
		cursor pointer
		position relative
		display inline-block
		padding-bottom 3px
		font-size 14px
		border-bottom 1px dotted #666
		text-align right
	&__middle
		font-size 17px
		color #333
	&__left
		width 125px
	&__right-a
		text-align right
	&__right
		text-align right
		width 39px
	&__left, &__middle, &__right, &__right-a, &__title
		display table-cell
		vertical-align middle

.b-basket-item
	width 52px
	margin 0 auto
	height 38px
	border 1px solid #e5e5e5
	border-radius 2px
	display block
	position relative
	&.mobile
		border 1px solid $yellow
		&:after
			content ''
			sprite($s-basket-gray)
	&:after
		content ''
		position absolute
		sprite($s-basket-fog)
		align()

.b-description
	position absolute
	display none
	text-align left
	background-color #fff
	z-index 100
	left 200px
	top -158px
	padding 30px 70px 30px 30px
	border 2px solid $yellow
	box-shadow 0 0 7px 2px #fff7d3
	&__item
		padding-bottom 25px
	&__left, &__right
		display table-cell
		vertical-align top
	&__left
		width 130px
		padding-right 40px
	&.mobile
		left auto
		right 0
		top 30px
		display none
		&.active
			display block

.b-crumbs
	padding-bottom 40px
	&__item
		color #bbb
		font-size 12px
		font-family 'Open Sans'
		margin-right 13px
		text-decoration none
		position relative
		&:hover
			color #a29fa0
		&:after
			content ''
			position absolute
			width 3px
			height 1px
			display block
			background-color #bbb
			vAlign()
			right -7px
		&:last-child
			&:after
				content ''
				display none

.b-item .b-title
	&.small
		padding-bottom 44px

.b-product-popup
	z-index 100
	display none
	width 1000px
	// height 600px
	margin 0 auto
	&__wrap-popup
		display table
		position relative
		width 100%
	&__aside, &__content
		display table-cell
		vertical-align top
	&__aside
		width 200px
	&__item-wrap
		background-color #efefef
		width 200px
		height 600px
		display block
		padding 30px
		margin-right 2px
	&__image-wrap
		display block
		position relative
		background-color #fff
		width 100%
		height 600px
	&__item
		display block
		line-height 40px
		text-decoration none
		font-size 16px
		color #777
		text-transform uppercase
		&.active, &:hover
			color #000
	&__img
		display none
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		&.active
			display block

.b-slider-fancy
	padding-left 240px
	padding-right 40px
	height 200px
	&__slide
		margin 2px 2px 0 0
		cursor pointer
	&__img-slide
		&.choose
			border 1px solid #000
.owl-carousel.owl-loaded
	display block
	position relative
	.owl-nav
		.owl-prev
			width 40px
			position absolute
			top 0
			left 200px
			display inline-block
			height 80px
			&:after
				content ''
				vAlign()
				position absolute
				left 0
				sprite($s-left)
		.owl-next
			width 40px
			position absolute
			right 0
			top 0
			display inline-block
			height 80px
			&:after
				content ''
				vAlign()
				position absolute
				right 0
				sprite($s-right)

.fancybox-close
	top -47px
	right -47px
	background-image none
	&:after
		content ''
		position absolute
		sprite($s-close)

.fancybox-skin
	background none