.domek {
    margin: 40px 0;
}



.domek .mainimg .element {
    z-index: 1;
    text-align: center;
}

.domek .mainimg .miniature {
    background-size: 80px 50px;
}

.pointer {
    position: relative;
}

.yellow-line {
    position: relative;
    display: block;
    background: #ffd400;
    width: 2px;
}

.yellow-line.vertical-line {
    height: 2px;
}

.yellow-line.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.yellow-line.rotate-45 > .vertical-line {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.yellow-line.rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.yellow-line.rotate-135 > .vertical-line {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.yellow-line.rotate-225 {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.yellow-line.rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}
.yellow-line.rotate-315 > .horizontal-line,
.yellow-line.rotate-315 > .vertical-line {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.yellow-line .yellow-circle {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid #ffd400;
    position: absolute;
    bottom: -14px;
    left: -6px;
}

.yellow-line.horizontal .yellow-circle {

}

.yellow-line.vertical-line .yellow-circle {
    left: inherit;
    right: -13px;
    bottom: -6px;
}

.right .yellow-line.vertical-line .yellow-circle {
    left: -13px;
    right: inherit;
    bottom: -6px;
}

.yellow-line.vertical-line .rotate > .yellow-circle {
    bottom: -14px;
    left: -6px;
    right: inherit;
}

.domek .mainimg .text {
    top: 58px;
    white-space: normal;
    padding-bottom: 2px;
    font-weight: bold;
    font-family: titillium;
}

.domek .mainimg .text.bottom-line {
    top: inherit;
    bottom: 44px;
    padding-bottom: 0px;
}

.domek .mainimg .text {
    background: #fff;
    line-height: 16px;
    position: absolute;
    text-align: center;
    width: 150px;
    left: 50%;
    margin-left: -75px;
}

/* START --- CAŁOŚĆ / DOM */
.domek .mainimg .p1 {
    left: 438px;
    top: -21px;
}

.domek .mainimg .p1 .pointer {
    left: 40px;
    top: 75px;
}

.domek .mainimg .p1 .miniature {
    background-image: url(../img/dmx/house.jpg);
}

.element.p1 .yellow-line.first-line {
    height: 46px;
}

.element.p1 .yellow-line.second-line {
    top: 40px;
    left: 13px;
    height: 36px;
}
/* END --- CAŁOŚĆ / DOM */

/* START --- CAŁOŚĆ / ALTANA */
.domek .mainimg .p2 {
    left: 56px;
    top: 692px;
}

.domek .mainimg .p2 .pointer {
    left: 40px;
    top: -167px;
}

.domek .mainimg .p2 .miniature {
    background-image: url(../img/dmx/gazebo.jpg);
}

.element.p2 .yellow-line.first-line {
    height: 139px;
}

.element.p2 .yellow-line.second-line {
    top: -203px;
    left: 84px;
    height: 240px;
}
/* END --- CAŁOŚĆ / ALTANA */

/* START --- CAŁOŚĆ / DOMEK DLA DZIECI */
.domek .mainimg .p3 {
    left: 247px;
    top: 692px;
}

.domek .mainimg .p3 .pointer {
    left: 40px;
    top: -213px;
}

.domek .mainimg .p3 .miniature {
    background-image: url(../img/dmx/children_house.jpg);
}

.element.p3 .yellow-line.first-line {
    height: 187px;
}

.element.p3 .yellow-line.second-line {
    top: -106px;
    left: 44px;
    height: 125px;
}
/* END --- CAŁOŚĆ / DOMEK DLA DZIECI */

/* START --- CAŁOŚĆ / DREWUTNIA */
.domek .mainimg .p4 {
    left: 1007px;
    top: 693px;
}

.domek .mainimg .p4 .pointer {
    left: 40px;
    top: -100px;
}

.domek .mainimg .p4 .miniature {
    background-image: url(../img/dmx/woodshed.jpg);
}

.element.p4 .yellow-line.first-line {
    height: 73px;
}

.element.p4 .yellow-line.second-line {
    top: -298px;
    left: -124px;
    height: 350px;
}
/* END --- CAŁOŚĆ / DREWUTNIA */

/* START --- CAŁOŚĆ / FURTKA Z BRAMĄ */
.domek .mainimg .p5{
    left: 818px;
    top: -20px;
}

.domek .mainimg .p5 .pointer{
    left: 39px;
    top: 75px;
}

.domek .mainimg .p5 .miniature {
    background-image: url(../img/dmx/wicket_with_gate.jpg);
}

.element.p5 .yellow-line.first-line{
    height: 75px;
}

.element.p5 .yellow-line.second-line{
    top: 58px;
    left: -39px;
    height: 110px;
}
/* END --- CAŁOŚĆ / FURTKA Z BRAMĄ */

/* START --- CAŁOŚĆ / GARAŻ */
.domek .mainimg .p6 {
    left: 1007px;
    top: -20px;
}

.domek .mainimg .p6 .pointer {
    left: 40px;
    top: 75px;
}

.domek .mainimg .p6 .miniature {
    background-image: url(../img/dmx/garage.jpg);
    background-size: 80px 50px;
}

.element.p6 .yellow-line.first-line {
    height: 66px;
}

.element.p6 .yellow-line.second-line {
    top: 39px;
    left: -63px;
    height: 179px;
}
/* END --- CAŁOŚĆ / GARAŻ */

/* START --- CAŁOŚĆ / HUŚTAWKA */
.domek .mainimg .p7 {
    left: 817px;
    top: 692px;
}

.domek .mainimg .p7 .pointer {
    left: 39px;
    top: -60px;
}

.domek .mainimg .p7 .miniature {
    background-image: url(../img/dmx/swing.jpg);
}

.element.p7 .yellow-line.first-line {
    height: 33px;
}

.element.p7 .yellow-line.second-line {
    top: -190px;
    left: -79px;
    height: 223px;
}
/* END --- CAŁOŚĆ / HUŚTAWKA */

/* START --- CAŁOŚĆ / MOSTEK */
.domek .mainimg .p8 {
    left: 626px;
    top: 692px;
}

.domek .mainimg .p8 .pointer {
    left: 40px;
    top: -70px;
}

.domek .mainimg .p8 .miniature {
    background-image: url(../img/dmx/bridge.jpg);
}

.element.p8 .yellow-line.first-line {
    height: 43px;
}

.element.p8 .yellow-line.second-line {
    top: -42px;
    left: -17px;
    height: 50px;
}

.element.p8 .yellow-line.third-line {
    top: -131px;
    left: 54px;
    height: 153px;
}
/* END --- CAŁOŚĆ / MOSTEK */

/* START --- CAŁOŚĆ / PERGOLA */
.domek .mainimg .p9 {
    left: 56px;
    top: -20px;
}

.domek .mainimg .p9 .pointer {
    left: 40px;
    top: 75px;
}

.domek .mainimg .p9 .miniature {
    background-image: url(../img/dmx/perola.jpg);
}

.element.p9 .yellow-line.first-line {
    height: 101px;
}

.element.p9 .yellow-line.second-line {
    top: 86px;
    left: 33px;
    height: 95px;
}
/* END --- CAŁOŚĆ / PERGOLA */

/* START --- CAŁOŚĆ / PIASKOWNICA */
.domek .mainimg .p10 {
    left: 438px;
    top: 692px;
}

.domek .mainimg .p10 .pointer {
    left: 40px;
    top: -207px;
}

.domek .mainimg .p10 .miniature {
    background-image: url(../img/dmx/sandpit.jpg);
}

.element.p10 .yellow-line.first-line {
    height: 180px;
}

.element.p10 .yellow-line.second-line {
    top: -15px;
    left: 6px;
    height: 19px;
}
/* END --- CAŁOŚĆ / PIASKOWNICA */

/* START --- CAŁOŚĆ / TARAS */
.domek .mainimg .p11 {
    left: 248px;
    top: -20px;
}

.domek .mainimg .p11 .pointer {
    left: 40px;
    top: 75px;
}

.domek .mainimg .p11 .miniature {
    background-image: url(../img/dmx/terrace.jpg);
}

.element.p11 .yellow-line.first-line {
    height: 72px;
}

.element.p11 .yellow-line.second-line {
    top: 56px;
    left: 38px;
    height: 106px;
}
/* END --- CAŁOŚĆ / TARAS */

/* START --- CAŁOŚĆ / WIATA */
.domek .mainimg .p12{
    left: 628px;
    top: -20px;
}

.domek .mainimg .p12 .pointer{
    left: 39px;
    top: 75px;
}

.domek .mainimg .p12 .miniature {
    background-image: url(../img/dmx/carpot.jpg);
}

.element.p12 .yellow-line.first-line{
    height: 135px;
}
/* END --- CAŁOŚĆ / WIATA */


.domek .elem{
    display:block;
    position:absolute;
    top:0;
    left:0;
}

.domek .elem> *{
    opacity: 0.7;
}

.elem a {
    display: table-row;
}

.domek .elem .pointer{
    display:block;
    position:absolute;
    left: 10px;
    top: inherit;
    bottom: -2px;
    pointer-events: none;
}

.domek .elem.right .pointer {
    left: inherit;
    right: 10px;
}

.domek .elem .icon {
    display: table-cell;
    vertical-align: bottom;
    min-width: 95px;
    text-align: center;
}

.elem .icon img {
    width: auto;
    height: auto;
}

.domek .elem .text {
    display: table-cell;
    color: #2e2e2e;
    font: 16px titillium-bold;
    line-height: 16px;
    text-decoration none;
    text-transform: uppercase;
    vertical-align: bottom;
    padding-bottom: 4px;
}

/* START --- PERGOLA / KS */
.pergola .elem.p1 {
    left: 1050px;
    top: 34px;
}

.pergola .elem.p1 .yellow-line.first-line {
    width: 609px;
}

/* END --- PERGOLA / KS */

/* START --- PERGOLA / KLR */
.pergola .elem.p4 {
    top: 119px;
    left: 7px;
}

.pergola .elem.p4 .yellow-line.first-line {
    width: 500px;
}
/* END --- PERGOLA / KLR */

/* START --- PERGOLA / OP */
.pergola .elem.p5 {
    top: 227px;
    left: 7px;
}

.pergola .elem.p5 .yellow-line.first-line {
    width: 250px;
}
/* END --- PERGOLA / OP */

/* START --- PERGOLA / KW */
.pergola .elem.p2 {
    top: 7px;
    left: 7px;
}

.pergola .elem.p2 .yellow-line.first-line {
    width: 300px;
}
/* END --- PERGOLA / KW */

/* START --- PERGOLA / PSG */
.pergola .elem.p6 {
    left: 1040px;
    top: 323px;
}

.pergola .elem.p6 .yellow-line.first-line {
    width: 430px;
}
/* END --- PERGOLA / PSG */

/* START --- TARAS / SDSLPB */
.terrace .elem.p1 {
    left: 7px;
    top: 52px;
}

.terrace .elem.p1 .yellow-line.first-line {
    width: 366px;
}
/* END --- TARAS / SDSLPB */

/* START --- TARAS / SDSKT */
.terrace .elem.p4 {
    left: 8px;
    top: 123px;
}

.terrace .elem.p4 .yellow-line.first-line {
    width: 446px;
}
/* END --- TARAS / SDSKT */

/* START --- TARAS / SDSP */
.terrace .elem.p6 {
    left: 7px;
    top: 261px;
}

.terrace .elem.p6 .yellow-line.first-line {
    width: 445px;
}
/* END --- TARAS / SDSP */

/* START --- TARAS / SDP */
.terrace .elem.p7 {
    left: 7px;
    top: 365px;
}

.terrace .elem.p7 .yellow-line.first-line {
    width: 365px;
}
/* END --- TARAS / SDP */

/* START --- TARAS / SDSWBZ */
.terrace .elem.p2 {
    left: 1008px;
    top: 46px;
}

.terrace .elem.p2 .yellow-line.first-line {
    width: 189px;
}
/* END --- TARAS / SDSWBZ */

/* START --- TARAS / SDSKP */
.terrace .elem.p5 {
    left: 1022px;
    top: 116px;
}

.terrace .elem.p5 .yellow-line.first-line {
    width: 493px;
}
/* END --- TARAS / SDSKP */

/* START --- TARAS / SDSKW */
.terrace .elem.p3 {
    left: 1017px;
    top: 180px;
}

.terrace .elem.p3 .yellow-line.first-line {
    width: 506px;
}

.terrace .elem.p3 .yellow-line.second-line {
    top: -102px;
    left: -43px;
    height: 120px;
}
/* END --- TARAS / SDSKW */

/* START --- FRUTKA Z BRAMĄ / ZTD */
.wicket-with-gate .elem.p1 {
    left: 7px;
    top: 105px;
}

.wicket-with-gate .elem.p1 .yellow-line.first-line {
    width: 195px;
}

.wicket-with-gate .elem.p1 .yellow-line.second-line {
    top: -7px;
    left: 212px;
    height: 52px;
}
/* END --- FRUTKA Z BRAMĄ / ZTD */

/* START --- FRUTKA Z BRAMĄ / WOG */
.wicket-with-gate .elem.p2 {
    left: 7px;
    top: 245px;
}

.wicket-with-gate .elem.p2 .yellow-line.first-line {
    width: 419px;
}
/* END --- FRUTKA Z BRAMĄ / WOG */

/* START --- FRUTKA Z BRAMĄ / NAD*/
.wicket-with-gate .elem.p5 {
    left: 1038px;
    top: 107px;
}

.wicket-with-gate .elem.p5 .yellow-line.first-line {
    width: 314px;
}

.wicket-with-gate .elem.p5 .yellow-line.second-line {
    top: -2px;
    left: -9px;
    height: 24px;
}
/* END --- FRUTKA Z BRAMĄ / NAD */

/* START --- FRUTKA Z BRAMĄ / WCZ */
.wicket-with-gate .elem.p4 {
    left: 1036px;
    top: 177px;
}

.wicket-with-gate .elem.p4 .yellow-line.first-line {
    width: 332px;
}

.wicket-with-gate .elem.p4 .yellow-line.second-line {
    top: -2px;
    left: -8px;
    height: 21px;
}
/* END --- FRUTKA Z BRAMĄ / WCZ */

/* START --- FRUTKA Z BRAMĄ / ZBD */
.wicket-with-gate .elem.p3 {
    left: 1040px;
    top: 247px;
}

.wicket-with-gate .elem.p3 .yellow-line.first-line {
    width: 530px;
}

.wicket-with-gate .elem.p3 .yellow-line.second-line {
    top: -38px;
    left: -17px;
    height: 46px;
}
/* END --- FRUTKA Z BRAMĄ / ZBD */

/* START --- DOM / WB */
.house .elem.p13 {
    left: 7px;
    top: -35px;
}

.house .elem.p13 .yellow-line.first-line {
    width: 440px;
}

.house .elem.p13 .yellow-line.second-line {
    top: -23px;
    left: 497px;
    height: 164px;
}
/* END --- DOM / WB */

/* START --- DOM / KLR */
.house .elem.p6 {
    left: 7px;
    top: 35px;
}

.house .elem.p6 .yellow-line.first-line {
    width: 409px;
}

.house .elem.p6 .yellow-line.second-line {
    top: -4px;
    left: 418px;
    height: 31px;
}
/* END --- DOM / KLR */

/* START --- DOM / SK */
.house .elem.p1 {
    left: 7px;
    top: 105px;
}

.house .elem.p1 .yellow-line.first-line {
    width: 370px;
}
/* END --- DOM / SK */

/* START --- DOM / KP */
.house .elem.p7 {
    left: 7px;
    top: 175px;
}

.house .elem.p7 .yellow-line.first-line {
    width: 375px;
}

.house .elem.p7 .yellow-line.second-line {
    top: -64px;
    left: 401px;
    height: 76px;
}
/* END --- DOM / KP */

/* START --- DOM / SDLPB */
.house .elem.p5 {
    left: 7px;
    top: 245px;
}

.house .elem.p5 .yellow-line.first-line {
    width: 289px;
}

.house .elem.p5 .yellow-line.second-line {
    top: -25px;
    left: 298px;
    height: 30px;
}
/* END --- DOM / SDLPB */

/* START --- DOM / SDP */
.house .elem.p4 {
    left: 7px;
    top: 315px;
}

.house .elem.p4 .yellow-line.first-line {
    width: 310px;
}

.house .elem.p4 .yellow-line.second-line {
    top: -13px;
    left: 314px;
    height: 16px;
}
/* END --- DOM / SDP */

/* START --- DOM / KKB */
.house .elem.p12 {
    left: 7px;
    top: 385px;
}

.house .elem.p12 .yellow-line.first-line {
    width: 437px;
}

.house .elem.p12 .yellow-line.second-line {
    top: -122px;
    left: 487px;
    height: 145px;
}
/* END --- DOM / KKB */

/* START --- DOM / KK */
.house .elem.p8 {
    left: 1050px;
    top: -33px;
}

.house .elem.p8 .yellow-line.first-line {
    width: 372px;
}

.house .elem.p8 .yellow-line.second-line {
    top: -36px;
    left: -89px;
    height: 250px;
}

.house .elem.p8 .yellow-line.third-line {
    width: 57px;
    top: 269px;
    left: -47px;
}
/* END --- DOM / KK */

/* START --- DOM / PD */
.house .elem.p16 {
    left: 1049px;
    top: 37px;
}

.house .elem.p16 .yellow-line.first-line {
    width: 224px;
}

.house .elem.p16 .yellow-line.second-line {
    top: -21px;
    left: -52px;
    height: 145px;
}
/* END --- DOM / PD */

/* START --- DOM / NT */
.house .elem.p15 {
    left: 1049px;
    top: 107px;
}

.house .elem.p15 .yellow-line.first-line {
    width: 247px;
}

.house .elem.p15 .yellow-line.second-line {
    top: -22px;
    left: -54px;
    height: 154px;
}
/* END --- DOM / NT */

/* START --- DOM / TM */
.house .elem.p14 {
    left: 1046px;
    top: 177px;
}

.house .elem.p14 .yellow-line.first-line {
    width: 300px;
}

.house .elem.p14 .yellow-line.second-line {
    top: -5px;
    left: -12px;
    height: 36px;
}
/* END --- DOM / TM */

/* START --- DOM / CT */
.house .elem.p11 {
    left: 1050px;
    top: 247px;
}

.house .elem.p11 .yellow-line.first-line {
    width: 405px;
}

.house .elem.p11 .yellow-line.second-line {
    top: -72px;
    left: -30px;
    height: 86px;
}
/* END --- DOM / CT */

/* START --- DOM / LK */
.house .elem.p9 {
    left: 1050px;
    top: 317px;
}

.house .elem.p9 .yellow-line.first-line {
    width: 380px;
}

.house .elem.p9 .yellow-line.second-line {
    top: -140px;
    left: -59px;
    height: 166px;
}
/* END --- DOM / LK */

/* START --- DOM / PP */
.house .elem.p10 {
    left: 1050px;
    top: 387px;
}

.house .elem.p10 .yellow-line.first-line {
    width: 379px;
}

.house .elem.p10 .yellow-line.second-line {
    top: -167px;
    left: -70px;
    height: 196px;
}
/* END --- DOM / PP */

/* START --- MOST / LBO2 */
.bridge .elem.p3 {
    left: 7px;
    top: 179px;
}

.bridge .elem.p3 .yellow-line.first-line {
    width: 309px;
}
/* END --- MOST / LBO2 */

/* START --- MOST / CS */
.bridge .elem.p1 {
    left: 7px;
    top: 286px;
}

.bridge .elem.p1 .yellow-line.first-line {
    width: 360px;
}
/* END --- MOST / CS */

/* START --- MOST / LBO3 */
.bridge .elem.p4 {
    left: 1032px;
    top: 51px;
}

.bridge .elem.p4 .yellow-line.first-line {
    width: 513px;
}
/* END --- MOST / LBO3 */

/* START --- MOST / LBO1 */
.bridge .elem.p2 {
    left: 1032px;
    top: 135px;
}

.bridge .elem.p2 .yellow-line.first-line {
    width: 510px;
}
/* END --- MOST / LBO1 */

/* START --- WIATA / UD */
.carport .elem.p6 {
    left: 7px;
    top: 175px
}

.carport .elem.p6 .yellow-line.first-line {
    width: 667px;
}
/* END --- WIATA / UD */

/* START --- WIATA / SDKLR */
.carport .elem.p10 {
    left: 7px;
    top: 245px;
}

.carport .elem.p10 .yellow-line.first-line {
    width: 396px;
}

.carport .elem.p10 .yellow-line.second-line {
    top: 0px;
    left: 397px;
    height: 6px;
}
/* END --- WIATA / SDKLR */

/* START --- WIATA / SDSLP */
.carport .elem.p2 {
    left: 7px;
    top: 315px;
}

.carport .elem.p2 .yellow-line.first-line {
    width: 378px;
}

.carport .elem.p2 .yellow-line.second-line {
    top: -112px;
    left: 423px;
    height: 133px;
}
/* END --- WIATA / SDSLP */

/* START --- WIATA / SDSP */
.carport .elem.p4 {
    left: 7px;
    top: 386px;
}

.carport .elem.p4 .yellow-line.first-line {
    width: 467px;
}
/* END --- WIATA / SDSP */

/* START --- WIATA / SDLPA */
.carport .elem.p7 {
    left: 1022px;
    top: 37px;
}

.carport .elem.p7 .yellow-line.first-line {
    width: 454px;
}
/* END --- WIATA / SDLPA */

/* START --- WIATA / ZBD */
.carport .elem.p8 {
    left: 1040px;
    top: 177px;
}

.carport .elem.p8 .yellow-line.first-line {
    width: 167px;
}

.carport .elem.p8 .yellow-line.second-line {
    top: -16px;
    left: -42px;
    height: 116px;
}
/* END --- WIATA / ZBD */

/* START --- WIATA / WCZ */
.carport .elem.p9 {
    left: 1036px;
    top: 247px;
}

.carport .elem.p9 .yellow-line.first-line {
    width: 161px;
}

.carport .elem.p9 .yellow-line.second-line {
    top: -6px;
    left: -16px;
    height: 45px;
}
/* END --- WIATA / WCZ */

/* START --- WIATA / SDLPB */
.carport .elem.p5 {
    left: 1022px;
    top: 317px;
}

.carport .elem.p5 .yellow-line.first-line {
    width: 360px;
}

.carport .elem.p5 .yellow-line.second-line {
    top: -109px;
    left: -47px;
    height: 130px;
}
/* END --- WIATA / SDLPB */

/* START --- WIATA / SDP */
.carport .elem.p3 {
    left: 1040px;
    top: 387px;
}

.carport .elem.p3 .yellow-line.first-line {
    width: 427px;
}

.carport .elem.p3 .yellow-line.second-line {
    top: -33px;
    left: -15px;
    height: 40px;
}
/* END --- WIATA / SDP */

/* START --- GARAŻ / LK */
.garage .elem.p14 {
    left: 7px;
    top: 35px;
}

.garage .elem.p14 .yellow-line.first-line {
    width: 427px;
}

.garage .elem.p14 .yellow-line.second-line {
    top: -2px;
    left: 432px;
    height: 20px;
}
/* END --- GARAŻ / LK */

/* START --- GARAŻ / KLR */
.garage .elem.p13 {
    left: 7px;
    top: 105px;
}

.garage .elem.p13 .yellow-line.first-line {
    width: 451px;
}

.garage .elem.p13 .yellow-line.second-line {
    top: -17px;
    left: 457px;
    height: 21px;
}
/* END --- GARAŻ / KLR */

/* START --- GARAŻ / WL */
.garage .elem.p12 {
    left: 7px;
    top: 175px;
}

.garage .elem.p12 .yellow-line.first-line {
    width: 383px;
}

.garage .elem.p12 .yellow-line.second-line {
    top: -58px;
    left: 407px;
    height: 70px;
}
/* END --- GARAŻ / WL */

/* START --- GARAŻ / PSP */
.garage .elem.p4 {
    left: 7px;
    top: 245px;
}

.garage .elem.p4 .yellow-line.first-line {
    width: 307px;
}

.garage .elem.p4 .yellow-line.second-line {
    top: 0px;
    left: 308px;
    height: 8px;
}
/* END --- GARAŻ / PSP */

/* START --- GARAŻ / PS */
.garage .elem.p5 {
    left: 7px;
    top: 315px;
}

.garage .elem.p5 .yellow-line.first-line {
    width: 354px;
}

.garage .elem.p5 .yellow-line.second-line {
    top: -20px;
    left: 360px;
    height: 25px;
}
/* END --- GARAŻ / PS */

/* START --- GARAŻ / ZN */
.garage .elem.p7 {
    left: 7px;
    top: 385px;
}

.garage .elem.p7 .yellow-line.first-line {
    width: 330px;
}

.garage .elem.p7 .yellow-line.second-line {
    top: -128px;
    left: 381px;
    height: 152px;
}
/* END --- GARAŻ / ZN */

/* START --- GARAŻ / KP */
.garage .elem.p11 {
    left: 1050px;
    top: 107px;
}

.garage .elem.p11 .yellow-line.first-line {
    width: 597px;
}

.garage .elem.p11 .yellow-line.second-line {
    top: -11px;
    left: -28px;
    height: 77px;
}
/* END --- GARAŻ / KP */

/* START --- GARAŻ / CT */
.garage .elem.p15 {
    left: 1050px;
    top: 177px;
}

.garage .elem.p15 .yellow-line.first-line {
    width: 412px;
}

.garage .elem.p15 .yellow-line.second-line {
    top: -18px;
    left: -8px;
    height: 22px;
}
/* END --- GARAŻ / CT */

/* START --- GARAŻ / PP */
.garage .elem.p10 {
    left: 1050px;
    top: 247px;
}

.garage .elem.p10 .yellow-line.first-line {
    width: 571px;
}

.garage .elem.p10 .yellow-line.second-line {
    top: -1px;
    left: -3px;
    height: 7px;
}
/* END --- GARAŻ / PP */

/* START --- GARAŻ / C */
.garage .elem.p8 {
    left: 1060px;
    top: 317px;
}

.garage .elem.p8 .yellow-line.first-line {
    width: 567px;
}

.garage .elem.p8 .yellow-line.second-line {
    top: -89px;
    left: -38px;
    height: 106px;
}
/* END --- GARAŻ / C */

/* START --- GARAŻ / WRO */
.garage .elem.p9 {
    left: 1033px;
    top: 387px;
}

.garage .elem.p9 .yellow-line.first-line {
    width: 538px;
}

.garage .elem.p9 .yellow-line.second-line {
    top: -107px;
    left: -46px;
    height: 127px;
}
/* END --- GARAŻ / WRO */

/* START --- DREWTUNIA / SDLPA */
.woodshed .elem.p5 {
    left: 7px;
    top: 35px;
}

.woodshed .elem.p5 .yellow-line.first-line {
    width: 308px;
}

.woodshed .elem.p5 .yellow-line.second-line {
    top: -16px;
    left: 347px;
    height: 114px;
}
/* END --- DREWTUNIA / SDLPA */

/* START --- DREWTUNIA / SDLPB */
.woodshed .elem.p4 {
    left: 7px;
    top: 105px;
}

.woodshed .elem.p4 .yellow-line.first-line {
    width: 278px;
}

.woodshed .elem.p4 .yellow-line.second-line {
    top: -23px;
    left: 328px;
    height: 157px;
}
/* END --- DREWTUNIA / SDLPB */

/* START --- DREWTUNIA / SDSLP */
.woodshed .elem.p2 {
    left: 7px;
    top: 175px;
}

.woodshed .elem.p2 .yellow-line.first-line {
    width: 227px;
}

.woodshed .elem.p2 .yellow-line.second-line {
    top: -7px;
    left: 244px;
    height: 53px;
}
/* END --- DREWTUNIA / SDSLP */

/* START --- DREWTUNIA / SDKLR */
.woodshed .elem.p1 {
    left: 7px;
    top: 245px;
}

.woodshed .elem.p1 .yellow-line.first-line {
    width: 197px;
}

.woodshed .elem.p1 .yellow-line.second-line {
    top: -3px;
    left: 198px;
    height: 5px;
}
/* END --- DREWTUNIA / SDKLR */

/* START --- DREWTUNIA / SDSP */
.woodshed .elem.p3 {
    left: 7px;
    top: 325px;
}

.woodshed .elem.p3 .yellow-line.first-line {
    width: 262px;
}

.woodshed .elem.p3 .yellow-line.second-line {
    top: -4px;
    left: 262px;
    height: 7px;
}
/* END --- DREWTUNIA / SDSP */

/* START --- DREWTUNIA / PSP */
.woodshed .elem.p7 {
    left: 7px;
    top: 385px;
}

.woodshed .elem.p7 .yellow-line.first-line {
    width: 428px;
}

.woodshed .elem.p7 .yellow-line.second-line {
    top: -31px;
    left: 440px;
    height: 39px;
}
/* END --- DREWTUNIA / PSP */

/* START --- DREWTUNIA / KM */
.woodshed .elem.p6 {
    left: 1045px;
    top: -33px;
}

.woodshed .elem.p6 .yellow-line.first-line {
    width: 381px;
}

.woodshed .elem.p6 .yellow-line.second-line {
    top: -59px;
    left: -144px;
    height: 405px;
}
/* END --- DREWTUNIA / KM */

/* START --- DREWTUNIA / NA */
.woodshed .elem.p11 {
    left: 1048px;
    top: 37px;
}

.woodshed .elem.p11 .yellow-line.first-line {
    width: 319px;
}

.woodshed .elem.p11 .yellow-line.second-line {
    top: -26px;
    left: -64px;
    height: 182px;
}
/* END --- DREWTUNIA / NA */

/* START --- DREWTUNIA / C */
.woodshed .elem.p13 {
    left: 1059px;
    top: 107px;
}

.woodshed .elem.p13 .yellow-line.first-line {
    width: 296px;
}

.woodshed .elem.p13 .yellow-line.second-line {
    top: -13px;
    left: -35px;
    height: 97px;
}
/* END --- DREWTUNIA / C */

/* START --- DREWTUNIA / WRO */
.woodshed .elem.p10 {
    left: 1033px;
    top: 177px;
}

.woodshed .elem.p10 .yellow-line.first-line {
    width: 290px;
}

.woodshed .elem.p10 .yellow-line.second-line {
    top: -8px;
    left: -21px;
    height: 58px;
}

.woodshed .elem.p10 .yellow-line.third-line {
    width: 100px;
    left: -83px;
    top: 92px;
}

.woodshed .elem.p10 .yellow-line.fourth-line {
    height: 26px;
    left: -10px;
    top: -3px;
}
/* END --- DREWTUNIA / WRO */

/* START --- DREWTUNIA / ZN */
.woodshed .elem.p12 {
    left: 1049px;
    top: 247px;
}

.woodshed .elem.p12 .yellow-line.first-line {
    width: 317px;
}

.woodshed .elem.p12 .yellow-line.second-line {
    top: -11px;
    left: -31px;
    height: 84px;
}
/* END --- DREWTUNIA / ZN */

/* START --- DREWTUNIA / PSPDX */
.woodshed .elem.p9 {
    left: 1021px;
    top: 317px;
}

.woodshed .elem.p9 .yellow-line.first-line {
    width: 316px;
}

.woodshed .elem.p9 .yellow-line.second-line {
    top: -10px;
    left: -24px;
    height: 70px;
}

.woodshed .elem.p9 .yellow-line.third-line {
    width: 128px;
    top: 114px;
    left: -107px;
}
/* END --- DREWTUNIA / PSPDX */

/* START --- DREWTUNIA / PS */
.woodshed .elem.p8 {
    left: 1050px;
    top: 387px;
}

.woodshed .elem.p8 .yellow-line.first-line {
    width: 274px;
}

.woodshed .elem.p8 .yellow-line.second-line {
    top: -4px;
    left: -3px;
    height: 6px;
}

.woodshed .elem.p8 .yellow-line.third-line {
    width: 240px;
    left: -35px;
    top: 90px;
}
/* END --- DREWTUNIA / PS */

/* START --- HUŚTAWKA / MHD */
.swing .elem.p1 {
    left: 195px;
    top: 22px;
}

.swing .elem.p1 .yellow-line.first-line {
    width: 288px;
}
/* END --- HUŚTAWKA / MHD */

/* START --- HUŚTAWKA / XLG */
.swing .elem.p4 {
    left: 195px;
    top: 105px;
}

.swing .elem.p4 .yellow-line.first-line {
    width: 304px;
}
/* END --- HUŚTAWKA / XLG */

/* START --- HUŚTAWKA / CT */
.swing .elem.p5 {
    left: 195px;
    top: 282px;
}

.swing .elem.p5 .yellow-line.first-line {
    width: 261px;
}
/* END --- HUŚTAWKA / CT */

/* START --- HUŚTAWKA / PSW */
.swing .elem.p7 {
    left: 195px;
    top: 352px;
}

.swing .elem.p7 .yellow-line.first-line {
    width: 247px;
}
/* END --- HUŚTAWKA / PSW */

/* START --- HUŚTAWKA / SDSKP */
.swing .elem.p3 {
    left: 887px;
    top: 41px;
}

.swing .elem.p3 .yellow-line.first-line {
    width: 303px;
}
/* END --- HUŚTAWKA / SDSKP */

/* START --- HUŚTAWKA / XOS */
.swing .elem.p2 {
    left: 905px;
    top: 111px;
}
.swing .elem.p2 .yellow-line.first-line {
    width: 277px;
}

.swing .elem.p2 .yellow-line.second-line {
    top: -60px;
    left: -25px;
    height: 72px;
}
/* END --- HUŚTAWKA / XOS */

/* START --- HUŚTAWKA / XKR */
.swing .elem.p6 {
    left: 905px;
    top: 258px;
}

.swing .elem.p6 .yellow-line.first-line {
    width: 266px;
}
/* END --- HUŚTAWKA / XKR */

/* START --- HUŚTAWKA / KWZ */
.swing .elem.p8 {
    left: 902px;
    top: 328px;
}

.swing .elem.p8 .yellow-line.first-line {
    width: 229px;
}

.swing .elem.p8 .yellow-line.second-line {
    top: -39px;
    left: -17px;
    height: 46px;
}
/* END --- HUŚTAWKA / KWZ */

/* START --- PIASKOWNICA / ZO */
.sandpit .elem.p4 {
    left: 63px;
    top: 110px;
}

.sandpit .elem.p4 .yellow-line.first-line {
    width: 295px;
}

.sandpit .elem.p4 .yellow-line.second-line {
    top: -10px;
    left: 320px;
    height: 75px;
}
/* END --- PIASKOWNICA / ZO */

/* START --- PIASKOWNICA / SDKL */
.sandpit .elem.p1 {
    left: 62px;
    top: 209px;
}

.sandpit .elem.p1 .yellow-line.first-line {
    width: 230px;
}
/* END --- PIASKOWNICA / SDKL */

/* START --- PIASKOWNICA / SDCS */
.sandpit .elem.p2 {
    left: 62px;
    top: 308px;
}

.sandpit .elem.p2 .yellow-line.first-line {
    width: 180px;
}

.sandpit .elem.p2 .yellow-line.second-line {
    top: -68px;
    left: 207px;
    height: 80px;
}
/* END --- PIASKOWNICA / SDCS */

/* START --- PIASKOWNICA / UN */
.sandpit .elem.p5 {
    left: 877px;
    top: 138px;
}

.sandpit .elem.p5 .yellow-line.first-line {
    width: 173px;
}
/* END --- PIASKOWNICA / UN */

/* START --- PIASKOWNICA / SDD */
.sandpit .elem.p3 {
    left: 869px;
    top: 322px;
}

.sandpit .elem.p3 .yellow-line.first-line {
    width: 310px;
}
/* END --- PIASKOWNICA / SDD */

/* START --- CHILDREN HOUSE / KM */
.children-house .elem.p2 {
    left: 119px;
    top: 260px;
}

.children-house .elem.p2 .yellow-line.first-line {
    width: 346px;
}
/* END --- CHILDREN HOUSE / KM */

/* START --- CHILDREN HOUSE / KP */
.children-house .elem.p3 {
    left: 763px;
    top: 177px;
}

.children-house .elem.p3 .yellow-line.first-line {
    width: 200px;
}
/* END --- CHILDREN HOUSE / KP */

/* START --- CHILDREN HOUSE / KPL */
.children-house .elem.p4 {
    left: 763px;
    top: 12px;
}

.children-house .elem.p4 .yellow-line.first-line {
    width: 210px;
}
/* END --- CHILDREN HOUSE / KPL */

/* START --- CHILDREN HOUSE / CT */
.children-house .elem.p5 {
    left: 119px;
    top: 173px;
}

.children-house .elem.p5 .yellow-line.first-line {
    width: 251px;
}
/* END --- CHILDREN HOUSE / CT */

/* START --- CHILDREN HOUSE / PSG */
.children-house .elem.p6 {
    left: 119px;
    top: 328px;
}

.children-house .elem.p6 .yellow-line.first-line {
    width: 370px;
}

.children-house .elem.p6 .yellow-line.second-line {
    height: 38px;
    left: 382px;
    top: -31px;
}
/* END --- CHILDREN HOUSE / PSG */



/* START --- ALTANA / CT */
.gazebo .elem.p1 {
    left: 100px;
    top: 3px;
}

.gazebo .elem.p1 .yellow-line.first-line {
    width: 299px;
}
/* END --- ALTANA / CT */


/* START --- ALTANA / PSRU */
.gazebo .elem.p2 {
    left: 100px;
    top: 279px;
}

.gazebo .elem.p2 .yellow-line.first-line {
    width: 285px;
}
/* END --- ALTANA / PSRU */

/* START --- ALTANA / PSR */
.gazebo .elem.p3 {
    left: 100px;
    top: 345px;
}

.gazebo .elem.p3 .yellow-line.first-line {
    width: 300px;
}
/* END --- ALTANA / PSRU */

/* START --- ALTANA / PS */
.gazebo .elem.p4 {
    left: 1025px;
    top: 260px;
}

.gazebo .elem.p4 .yellow-line.first-line {
    width: 452px;
}
/* END --- ALTANA / PS */

/* START --- ALTANA / PSW */
.gazebo .elem.p5 {
    left: 1010px;
    top: 333px;
}

.gazebo .elem.p5 .yellow-line.first-line {
    width: 300px;
}

.gazebo .elem.p5 .yellow-line.second-line {
    height: 50px;
    left: -17px;
    top: -41px;
}

/* END --- ALTANA / PSW */

.domek .mainimg .element.p3 .text.bottom-line {
    width: 100px;
    margin-left: -50px;
}

.reveal-modal.open .domek, .reveal-modal.open .row.domek {
    height: 790px;
    max-width: 1240px;
}

.row.domek
    @media $max_md
        display none

.reveal-modal.open .domek .mainimg {
    width: 1170px;
    height: 731px;
}


@media only screen and (max-width: 1210px) {
    #content .slider-nav .columns.first {
        margin-left: 1rem;
        width: 30.5%;
    }
    #content .domek {
        display: none;
    }
}

.domek {
    position: relative;
    min-width: 1200px;
    height: 760px;
}
.domek .inner {
    width: 1170px;
    height: 590px;
    padding-top: 15px;
    position:relative;
}
.domek .mainimg {
    overflow: visible;
    position:relative;
    top: 7px;
    left: -4px;
}
.domek .mainimg .main {
    height: 730px;
    width:auto;
}

.domek .house,
.domek .gazebo,
.domek .terrace,
.domek .swing,
.domek .pergola,
.domek .children-house,
.domek .sandpit,
.domek .bridge,
.domek .woodshed,
.domek .garage,
.domek .wicket-with-gate,
.domek .carport{
    position: relative;
    top: 12px;
    display:none;
}
// .domek .house img,
// .domek .gazebo img,
// .domek .terrace img,
// .domek .swing img,
// .domek .pergola img,
// .domek .children-house img,
// .domek .sandpit img,
// .domek .bridge img,
// .domek .woodshed img,
// .domek .garage img,
// .domek .wicket-with-gate img,
// .domek .carport img{
//     margin: 0 auto;
// }


.domek .prev-button{
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    display:none;
}

.domek .element{
    display:block;
    position:absolute;
    opacity: 0.75;
    top:0;
    left:0;
    height:1px;
    width:1px;
}

.domek .element .pointer{
    display:block;
    position:absolute;
    top:0;
    left:0;
    pointer-events: none;
}

.domek .element .icon{
    display:block;
    position:absolute;
    top:0;
    left:0;
}

.domek .element .pointer img{
    max-width: none;
}

.domek .element .text{
    display:block;
    position: relative;
    color: #2e2e2e;
    font: 16px titillium-bold;
    text-transform: uppercase;
    cursor:pointer;
}

.domek .element .text:hover{
    opacity:1;
}

#maparea area{
    cursor:pointer;
}

.domek .mainimg .overlay{
    display:block;
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    pointer-events: none;
}

.domek .mainimg .main{
    width:1170px;
    height:731px;
}

.domek .mainimg .overlay img{
    pointer-events: none;
    display:none;
}

.domek .mainimg .miniature {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px #d8d8d8 solid;
    position: absolute;
}

.domek .mainimg .miniature:hover,
.domek .mainimg .miniature.hovered {
    border: 1px rgb(255, 213, 3) solid;
}

.inner>div>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.active_space>div {
    width: 80px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    z-index: 5;
}
.active_space>div:hover {
    opacity: 1;
}
.active_space .mainimg_slide {
    vertical-align: middle;
    width: 150px;
    border-radius: 0px;
}
.active_space .house_slide {
    background: url(../img/dmx/house.jpg);
}
.active_space .gazebo_slide {
    background: url(../img/dmx/gazebo.jpg);
}
.active_space .terrace_slide {
    background: url(../img/dmx/terrace.jpg);
}
.active_space .pergola_slide {
    background: url(../img/dmx/perola.jpg);
}
.active_space .children-house_slide {
    background: url(../img/dmx/children_house.jpg);
}
.active_space .sandpit_slide {
    background: url(../img/dmx/sandpit.jpg);
}
.active_space .bridge_slide {
    background: url(../img/dmx/bridge.jpg);
}
.active_space .swing_slide {
    background: url(../img/dmx/swing.jpg);
}
.active_space .woodshed_slide {
    background: url(../img/dmx/woodshed.jpg);
}
.active_space .garage_slide {
    background: url(../img/dmx/garage.jpg);
}
.active_space .wicket-with-gate_slide {
    background: url(../img/dmx/wicket_with_gate.jpg);
}
.active_space .carport_slide {
    background: url(../img/dmx/carpot.jpg);
}    
.active_space .house_slide,
.active_space .gazebo_slide,
.active_space .terrace_slide,
.active_space .pergola_slide,
.active_space .children-house_slide,
.active_space .sandpit_slide,
.active_space .bridge_slide,
.active_space .swing_slide,
.active_space .woodshed_slide,
.active_space .garage_slide,
.active_space .wicket-with-gate_slide,
.active_space .carport_slide {
    transform: translateY(22px);
    height: 50px;
    background-size: 80px 50px;
    border: 1px #CCCCCC solid;
    opacity: 0.5;
}
.active_space_slide {
    opacity: 1!important;
    border: 1px #ffd500 solid !important;
}

.active_space {
    opacity: 0;
    visibility: hidden;
}
.active_space .mainimg_slide .return { 
    display: none;
    // font-weight: 700; 
    // position: absolute; 
    // top: 680px; 
    // left: 5px; 
}